<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004863049036-u5h6t8jfi7e282kqh3setl4itlfsqj7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004863049036-u5h6t8jfi7e282kqh3setl4itlfsqj7m</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Eus6TSse5sBQoY-s_ZKAqq_lqNCwjb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1004863049036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameTemplate</string>
	<key>PROJECT_ID</key>
	<string>shrodingers-box-data</string>
	<key>STORAGE_BUCKET</key>
	<string>shrodingers-box-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004863049036:ios:5bd2b8b7a8c0b05c8313e9</string>
</dict>
</plist>